@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
     margin:0;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: #D9FFD2;
    margin: 0;

}

#menu {
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #63CF53;
    position: fixed;
    top: 0;
    width: 98%;
}

#menu nav li {
    list-style: none;
    align-items: center;
    margin: 0px 18px;
}

#menu img {
    margin-right: auto;
    width: 90px;
}

#menu nav {
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 380;
    align-items: center;
    width: fit-content;
    margin: auto;
}

#menu a {
    text-decoration: none;
    color: white;
}
#foto {
    display: block;
    margin: 55px auto 0;
    width: 70%;
    margin-bottom: 10px;
    margin-top: 85px;
}

h3 {
    color: #1b4b11;
    text-align: left;
    font-size: 35px;
    margin-left: 25px;
    font-weight: 400;
    margin-top: 20px;
}

#h32{
    margin-top: 0;
}

#retangulo {
    text-align: left;
    font-size: calc(4px + 1vw);
    font-weight: 400;
    margin-top: 15px;
    color: white;
    flex: 1;
    margin-left: 40px;

}


.text-wrapper {
    display: inline-flex;



}

#fotoRet {
    margin-left: 25px;
    margin-top: 20px;
    height: 20vw;
    border-radius: 8px;
}

#retangulo2 {
    text-align: left;
    font-size: calc(4px + 1vw);
    margin-left: 25px;
    font-weight: 400;
    color: #1b4b11;
}



#group20 {
    display: block;
    text-align: center;
}

#group20 img {
    width: 45%;
    margin-top: 40px;
}

#txt {
    width: 65%;
    text-align: left;
    font-size: calc(4px + 1vw);
    margin-left: 17%;
    font-weight: 400;
    margin-top: 15px;
    color: white;
    text-align: center;

}

#baixeAgora {
    display: block;
    text-align: center;
    
    
}

#baixeAgora img {

    width: 70%;
    margin-top: 40px;
}

#png {
    width: 100%;
}

#ex:hover {
    color: white;
    background-color: #78dd69;
    opacity: 0.3px;
    transition: 0.2s;
    border-radius: 7px;
    font-family: "Outfit", sans-serif;
    border: none;


}

#ex {
    background-color: #63CF53;
    border-radius: 7px;
    width: 145px;
    height: 43px;
    border-color: #4BDA34;
    color: white;
    font-family: "Outfit", sans-serif;
    transition: 0.2s;
    opacity: 0.3px;
    border: none;
    font-size:15px;
    cursor: pointer;

}

#bloco2 {
    align-items: center;
    justify-content: space-between;
    padding: 45px;
    background-color: #93c18b;
}

#bloco3 {
    align-items: center;
    justify-content: space-between;
    padding: 45px;
    background-color: #61a255;
}


#busquitoTXT {
    text-align: left;
    font-size: calc(4px + 1vw);
    margin-left: 25px;
    font-weight: 400;
    margin-top: 15px;
    color: white;

}

#busquito {
    width: 20vw;
    margin-top: -80px;

 }


#div {
    width: calc(100% - 350px);
    margin-left: 25px;

}

#bloco4 {
    align-items: center;
    justify-content: space-between;
    background-color: #7bbb7b;
    display: block;
    text-align: center;
    padding: 45px;
}

#group24 {
    width: 45%;
    margin-top: 45px;
}

section {
    min-height: 400px;
}


h3{
    font-weight: 650;
}

footer {
    position: relative;
    background-color: #A4BF9F   ;
    color: #fff;
    text-align: center;
    padding: 30px 0 12px 0;
}

.footer-info {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    
}

.info-item {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: calc(4px + 1vw);
    font-weight: 650px;


}

.sub-info {
    list-style: none;
    padding: 0;
    margin-top: 25px; 
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: calc(4px + 0.6vw);

}
     

.right{
    width: 90vw;
}
#bottom-left-image {
    bottom: 0;
    left: 0;
    padding: 20px;
}

#bottom-left-image img {
    width: 90px; 
}

hr{
    width: 90vw;
    text-align: center;
    height: 2px;
    background-color: white;
    border: none;
    margin: 80px auto -40px ;

}

#rotas{
    margin-bottom: 20px;
    margin-left: 67%;
    font-size: calc(4px + 1vw);


}
#rotasFoto{
    margin-left: 50%;
    
    
}
#busquinho2 {
    position: absolute;
    left: 30px;
    bottom: 10px;
    width: 0%;
    
}