*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    background-color: #63CF53;
    position: fixed;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
img{
    width: 100%;
}
li{
    width: 20%;
    list-style: none;
}
a{
    font-size: 0.5em;
    color: white;
    text-decoration: none;
}
h3{
    color: #1b4b11;
}

/* MAIN */
main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#bloco1{
    padding-top: 3rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#bloco1>img{
    width: 96%;
}

#bloco2{
    background-color: #61a255;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #93c18b;
}
.image{
    padding-top: 0.5rem;
    width: 96%;
    margin-bottom: 0.5rem;
}
.text-wrapper, .txt{
    width: 96%;
    text-align: start;
}

#bloco3{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #61a255;
}

#bloco4{
    padding-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    background-color: #7bbb7b;
}