*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    background-color: green;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
img{
    width: 100%;
}
li{
    width: 20%;
    list-style: none;
}
a{
    font-size: 0.54em;
    color: white;
    text-decoration: none;
}

/* MAIN */
main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#bloco1{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#bloco1>img{
    width: 96%;
}